Someone asked to reset the password for your {{ app_name }} account.

If that was you, open this link to choose a new password:

{{ reset_url }}

The link works once and expires in {{ expires_minutes }} minutes.

If you did not ask for this, you can ignore this email. Your password will not change.
